<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MSB Group</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/index.css" />
    <script src="https://kit.fontawesome.com/7e2a2d30e8.js" crossorigin="anonymous"></script>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Calender style-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


</head>

<body>
    <nav class="navbar navbar-dark" style="background-color: teal;">
        <a class="navbar-brand"><b style="color: floralwhite; font-size: large;">MSB Group</b></a>
    </nav>

    <div class="warpper" style="padding-top: 10px;">
        <input class="radio" id="one" name="group" type="radio" checked>
        <input class="radio" id="two" name="group" type="radio">
        <input class="radio" id="three" name="group" type="radio">

        <div class="tabs">
            <label class="tab" id="one-tab" for="one">Daily Statistics</label>
            <label class="tab" id="two-tab" for="two">Search Portal</label>
            <label class="tab" id="three-tab" for="three">+ Add Account</label>
        </div>

        <div class="panels">
            <div class="panel" id="one-panel">
                <h6 class="debitHeadline">Debit Portion</h6>

                
                <div class="wrapper">
                    <input class="entryDate" type="text" id="datepicker" placeholder="DD-MM-YYYY" autocomplete="off">
                </div>
                <h6 style="float: right; padding-top: 11px; padding-right: 8px; font-weight: bold;">Date:</h6>


                <div class="row debitPortionCell">
                    <table class="table table-bordered table-hover debit-table">
                        <thead>
                            <tr>
                                <th class="th-sm">SL
                                </th>
                                <th class="th-sm">Company
                                </th>
                                <th class="th-sm">CO_CO
                                </th>
                                <th class="th-sm">Site
                                </th>
                                <th class="th-sm">Person/Car_Who_will_Get
                                </th>
                                <th class="th-sm">Department
                                </th>
                                <th class="th-sm">Cause
                                </th>
                                <th class="th-sm">Carrier/Driver
                                </th>
                                <th class="th-sm">Refer_By
                                </th>
                                <th class="th-sm ">Amount
                                </th>
                                <th class="th-sm">Other_Cost
                                </th>
                                <th class="th-sm">Total
                                </th>
                                <th class="th-sm">Dena
                                </th>
                                <th class="th-sm">Paona
                                </th>
                                <th class="th-sm">Vara
                                </th>
                                <th class="th-sm">Warning
                                </th>
                                <th class="th-sm">Note
                                </th>
                                <th class="th-sm">Edited_By
                                </th>
                                <th class="th-sm">Action
                                </th>
                            </tr>
                        </thead>
                        <tbody class="debit-tbody">
                            <tr class="debit-tr">
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th colspan='11' class='text-right'>Sum</th>
                                <th id="debit-sum">-</th>
                                <th>&nbsp;</th>
                        </tfoot>
                    </table>
                </div>

                <div style="display: flex; justify-content: center;">
                    <button type="button" class="btn btn-info btn-lg" style="margin: .5%;" data-toggle="modal"
                        data-target="#debitForm">
                        <b>Debit Record +</b>
                    </button>
                    <button type="button" class="btn btn-info btn-lg" style="margin: .5%;" data-toggle="modal"
                        data-target="#creditForm">
                        <b>Credit Record +</b>
                    </button>
                </div>

                <h6 class="creditHeadline">Credit Portion</h6>
                <div class="row  creditPortionCell2">
                    <span style="padding-left: 10px;">ISA from Last Day is <span class="ISA-value-last-day-headline"
                            style="padding-left: 5px; padding-right: 5px; font-weight: bolder;"></span> taka</span>
                    <span style="margin-left: auto; padding-right: 10px;">ISA for Today is <span class="ISA-value-today"
                            style="padding-left: 5px; padding-right: 5px; font-weight: bolder;">0</span> taka</span>
                    <!-- ISA means total credit of a day - total debit of that day -->
                    <!-- Last date ISA will show on the top side of next day credit portion -->
                </div>
                <div class="row creditPortionCell">

                    <table class="table table-bordered table-hover credit-table">
                        <thead>

                            <tr>
                                <th class="th-sm">SL
                                </th>
                                <th class="th-sm">Company
                                </th>
                                <th class="th-sm">CO_CO
                                </th>
                                <th class="th-sm">Site
                                </th>
                                <th class="th-sm">Person/Car_Who_will_Get
                                </th>
                                <th class="th-sm">Department
                                </th>
                                <th class="th-sm">Cause
                                </th>
                                <th class="th-sm">Carrier/Driver
                                </th>
                                <th class="th-sm">Refer_By
                                </th>
                                <th class="th-sm">Amount
                                </th>
                                <th class="th-sm">Other_Cost
                                </th>
                                <th class="th-sm">Total
                                </th>
                                <th class="th-sm">Dena
                                </th>
                                <th class="th-sm">Paona
                                </th>
                                <th class="th-sm">Vara
                                </th>
                                <th class="th-sm">Warning
                                </th>
                                <th class="th-sm">Note
                                </th>
                                <th class="th-sm">Edited_By
                                </th>
                                <th class="th-sm">Action
                                </th>
                            </tr>
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th><b>Last_Day_ISA</b></th>
                                <th><span class="ISA-value-last-day">100</span></th>
                            </tr>
                        </thead>
                        <tbody class="credit-tbody">
                            <tr class="credit-tr">
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th colspan='11' class='text-right'>Sum</th>
                                <th id="credit-sum">-</th>
                                <th>&nbsp;</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>

                <div class="modal fade" id="debitForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content" style="background-color: unset; border: none;">

                            <div class="form-modal">
                                <button data-dismiss="modal" type="button" class="btn close"
                                    style=" color: red; font-weight: bolder;">✕</button>
                                <h4 class="debitFormHeadline">Debit Record Form
                                </h4>

                                <div class="row"
                                    style="padding-bottom: 15px; display: flex; justify-content: center; padding-right: 15px;">
                                    <div class="col-lg-4 col-md-4" style="padding-left: 30px;">
                                        <div id="login-form">
                                            <form>
                                                <input type="text" id="dCompany" class="input-field"
                                                    placeholder="Company">
                                            </form>
                                        </div>
                                        <div id="login-form">
                                            <form>
                                                <input type="text" id="dCO_CO" class="input-field" placeholder="CO-CO">
                                            </form>
                                        </div>
                                        <div id="login-form">
                                            <form>
                                                <input type="text" id="dSite" class="input-field" placeholder="Site">
                                            </form>
                                        </div>
                                        <div id="login-form">
                                            <form>
                                                <input type="text" id="dPerson-Car-Who-will-Get" class="input-field"
                                                    placeholder="Person/Car Who will Get">
                                            </form>
                                        </div>
                                        <div id="login-form">
                                            <form>
                                                <input type="text" id="dDepartment" class="input-field"
                                                    placeholder="Department">
                                            </form>
                                        </div>
                                        <div id="login-form">
                                            <form>
                                                <input type="text" id="dCause" class="input-field" placeholder="Cause">
                                            </form>
                                        </div>
                                        <div id="login-form">
                                            <form>
                                                <input type="text" id="dCarrier-Driver" class="input-field"
                                                    placeholder="Carrier/Driver">
                                            </form>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4">
                                        <div id="login-form">
                                            <form>
                                                <input type="text" id="dRefer-By" class="input-field"
                                                    placeholder="Refer By">
                                            </form>
                                        </div>
                                        <div id="login-form">
                                            <form>
                                                <input type="text" id="dAmount" class="input-field"
                                                    placeholder="Amount">
                                            </form>
                                        </div>
                                        <div id="login-form">
                                            <form>
                                                <input type="text" id="dOther-Cost" class="input-field"
                                                    placeholder="Other Cost">
                                            </form>
                                        </div>
                                        <div id="login-form">
                                            <form>
                                                <input type="text" id="dTotal" class="input-field" placeholder="Total">
                                            </form>
                                        </div>
                                        <div id="login-form">
                                            <form>
                                                <input type="text" id="dDena" class="input-field" placeholder="Dena">
                                            </form>
                                        </div>
                                        <div id="login-form">
                                            <form>
                                                <input type="text" id="dPaona" class="input-field" placeholder="Paona">
                                            </form>
                                        </div>
                                        <div id="login-form">
                                            <form>
                                                <input type="text" id="dVara" class="input-field" placeholder="Vara">
                                            </form>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4">
                                        <div id="login-form">
                                            <form>
                                                <input type="text" id="dWarning" class="input-field"
                                                    placeholder="Warning">
                                            </form>
                                        </div>
                                        <div id="login-form">
                                            <form>
                                                <input type="text" id="dNote" class="input-field note"
                                                    placeholder="Note">
                                            </form>
                                        </div>
                                        <div id="login-form">
                                            <form>
                                                <input type="text" id="dEdited-By" class="input-field"
                                                    placeholder="Edited By">
                                            </form>
                                        </div>
                                        <div style="display: flex; justify-content: center; margin-top:0.6em;">
                                            <button data-dismiss="modal" type="button" id="debit-submit"
                                                class="btn btn-info btn-lg" name='debit-append' style="margin: .5%;">
                                                <b>Submit</b>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="creditForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content" style="background-color: unset; border: none;">

                            <div class="form-modal">
                                <button data-dismiss="modal" type="button" class="btn close"
                                    style=" color: red; font-weight: bolder;">✕</button>
                                <h4 class="debitFormHeadline">Credit Record
                                    Form</h4>

                                <div class="row"
                                    style="padding-bottom: 15px; display: flex; justify-content: center; padding-right: 15px;">
                                    <div class="col-lg-4 col-md-4" style="padding-left: 30px;">
                                        <div id="login-form">
                                            <form>
                                                <input type="text" id="crCompany" class="input-field"
                                                    placeholder="Company">
                                            </form>
                                        </div>
                                        <div id="login-form">
                                            <form>
                                                <input type="text" id="crCO_CO" class="input-field" placeholder="CO-CO">
                                            </form>
                                        </div>
                                        <div id="login-form">
                                            <form>
                                                <input type="text" id="crSite" class="input-field" placeholder="Site">
                                            </form>
                                        </div>
                                        <div id="login-form">
                                            <form>
                                                <input type="text" id="crPerson-Car-Who-will-Get" class="input-field"
                                                    placeholder="Person/Car Who will Get">
                                            </form>
                                        </div>
                                        <div id="login-form">
                                            <form>
                                                <input type="text" id="crDepartment" class="input-field"
                                                    placeholder="Department">
                                            </form>
                                        </div>
                                        <div id="login-form">
                                            <form>
                                                <input type="text" id="crCause" class="input-field" placeholder="Cause">
                                            </form>
                                        </div>
                                        <div id="login-form">
                                            <form>
                                                <input type="text" id="crCarrier-Driver" class="input-field"
                                                    placeholder="Carrier/Driver">
                                            </form>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4">
                                        <div id="login-form">
                                            <form>
                                                <input type="text" id="crRefer-By" class="input-field"
                                                    placeholder="Refer By">
                                            </form>
                                        </div>
                                        <div id="login-form">
                                            <form>
                                                <input type="text" id="crAmount" class="input-field"
                                                    placeholder="Amount">
                                            </form>
                                        </div>
                                        <div id="login-form">
                                            <form>
                                                <input type="text" id="crOther-Cost" class="input-field"
                                                    placeholder="Other Cost">
                                            </form>
                                        </div>
                                        <div id="login-form">
                                            <form>
                                                <input type="text" id="crTotal" class="input-field" placeholder="Total">
                                            </form>
                                        </div>
                                        <div id="login-form">
                                            <form>
                                                <input type="text" id="crDena" class="input-field" placeholder="Dena">
                                            </form>
                                        </div>
                                        <div id="login-form">
                                            <form>
                                                <input type="text" id="crPaona" class="input-field" placeholder="Paona">
                                            </form>
                                        </div>
                                        <div id="login-form">
                                            <form>
                                                <input type="text" id="crVara" class="input-field" placeholder="Vara">
                                            </form>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4">
                                        <div id="login-form">
                                            <form>
                                                <input type="text" id="crWarning" class="input-field"
                                                    placeholder="Warning">
                                            </form>
                                        </div>
                                        <div id="login-form">
                                            <form>
                                                <input type="text" id="crNote" class="input-field note"
                                                    placeholder="Note">
                                            </form>
                                        </div>
                                        <div id="login-form">
                                            <form>
                                                <input type="text" id="crEdited-By" class="input-field"
                                                    placeholder="Edited By">
                                            </form>
                                        </div>
                                        <div style="display: flex; justify-content: center; margin-top:0.6em;">
                                            <button data-dismiss="modal" type="button" id="credit-submit"
                                                class="btn btn-info btn-lg" style="margin: .5%;">
                                                <b>Submit</b>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="panel" id="two-panel">
                <div class="row search-password">
                    <h4 style="text-align: center; padding-top: 20px; font-weight: bolder;">Insert Your Password
                    </h4>
                    <div class="row" style="padding-bottom: 15px; display: flex; justify-content: center;">
                        <div>
                            <form>
                                <input style="margin-top: 15px; margin-bottom: 15px; padding-left: 10px;"
                                    type="password" name="password" class="input-field password-input"
                                    placeholder="Password" />
                            </form>
                        </div>
                    </div>
                    <button id="serach-access-button" type="button" class="btn"
                        style="margin: auto; display: flex; justify-content: center;">
                        <b>Access</b>
                    </button>
                </div>


                <div class="row searchPortal" style="display: none;">
                    <div style="padding-top: 10px; padding-left: 15px;">
                        <button class="print-pdf-excel-button" id="print-button" title="Print">
                            <i class="fas fa-print"></i>
                        </button>
                        <!-- <button class="print-pdf-excel-button" id="pdf-button" title="PDF">
                            <i class="far fa-file-pdf"></i>
                        </button> -->
                        <!-- <button class="print-pdf-excel-button" title="Excel">
                            <i class="far fa-file-excel"></i>
                        </button> -->
                        <div class="c-input-wrapper">
                            <div class="o-input o-input--cut-right">
                                <input id="start_date" type="date" class="o-input__input">
                            </div>
                            <div class="o-input o-input--cut-left">
                                <input id="end_date" type="date" class="o-input__input">
                            </div>
                        </div>
                    </div>
                    <div class="row" style="width: 100%; margin-top: 15px; margin-left: 15px;">
                        <div class="select">
                            <select id="type-filter" class="form-control">
                                <option style="display:none">Type</option>
                                <option selected disabled>Type</option>
                                <option>None</option>
                                <option>Debit</option>
                                <option>Credit</option>
                            </select>
                        </div>
                        <div class="select">
                            <select id="site-filter" class="form-control">
                                <option style="display:none">Site</option>
                                <option selected disabled>Site</option>
                                <option>None</option>
                                <option>Sad</option>
                                <option>sa</option>
                            </select>
                        </div>
                        <div class="select">
                            <select id="person-car-filter" class="form-control">
                                <option style="display:none">Person/Car Who will Get</option>
                                <option selected disabled>Person/Car Who will Get</option>
                                <option>None</option>
                                <option>Sad</option>
                                <option>sa</option>
                            </select>
                        </div>
                        <div class="select">
                            <select id="department-filter" class="form-control">
                                <option style="display:none">Department</option>
                                <option selected disabled>Department</option>
                                <option>None</option>
                                <option>Sad</option>
                                <option>sada</option>
                            </select>
                        </div>
                        <div class="select">
                            <select id="cause-filter" class="form-control">
                                <option style="display:none">Cause</option>
                                <option selected disabled>Cause</option>
                                <option>None</option>
                                <option>Sad</option>
                                <option>sdasd</option>
                            </select>
                        </div>
                        <div class="select">
                            <select id="carrier-filter" class="form-control">
                                <option style="display:none">Carrier/Driver</option>
                                <option selected disabled>Carrier/Driver</option>
                                <option>None</option>
                                <option>Sad</option>
                                <option>dfgd</option>
                            </select>
                        </div>
                        <div class="select">
                            <select id="refer-filter" class="form-control">
                                <option style="display:none">Refer By</option>
                                <option selected disabled>Refer By</option>
                                <option>None</option>
                                <option>Sad</option>
                                <option>asd</option>
                            </select>
                        </div>
                        <div class="select">
                            <select id="edited-filter" class="form-control">
                                <option style="display:none">Edited By</option>
                                <option selected disabled>Edited By</option>
                                <option>None</option>
                                <option>sad</option>
                                <option>fdg</option>
                            </select>
                        </div>
                        <div class="select">
                            <select id="amount-filter" class="form-control">
                                <option style="display:none">Amount</option>
                                <option selected disabled>Amount</option>
                                <option>None</option>
                                <option>500</option>
                                <option>50</option>
                            </select>
                        </div>
                        <!-- <div>
                            <button class="search-portal-search-button">Search</button>
                        </div> -->
                    </div>

                    <div class="row search-results"
                        style="background-color: white; height: 420px; margin: 15px; overflow-x: scroll;">
                        <table class="table table-bordered table-hover search-data-table">
                            <thead>
                                <tr>
                                    <th class="th-sm">SL
                                    </th>
                                    <th class="th-sm">Type
                                    </th>
                                    <th class="th-sm">Company
                                    </th>
                                    <th class="th-sm">CO_CO
                                    </th>
                                    <th class="th-sm">Site
                                    </th>
                                    <th class="th-sm">Person/Car_Who_will_Get
                                    </th>
                                    <th class="th-sm">Department
                                    </th>
                                    <th class="th-sm">Cause
                                    </th>
                                    <th class="th-sm">Carrier/Driver
                                    </th>
                                    <th class="th-sm">Refer_By
                                    </th>
                                    <th class="th-sm">Amount
                                    </th>
                                    <th class="th-sm">Other_Cost
                                    </th>
                                    <th class="th-sm">Total
                                    </th>
                                    <th class="th-sm">Dena
                                    </th>
                                    <th class="th-sm">Paona
                                    </th>
                                    <th class="th-sm">Vara
                                    </th>
                                    <th class="th-sm">Balance
                                    </th>
                                    <th class="th-sm">Warning
                                    </th>
                                    <th class="th-sm">Note
                                    </th>
                                    <th class="th-sm">Edited_By
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="search-data-tbody">
                                <tr class="search-data-tr">
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


            <div class="panel" id="three-panel">
                <div class="add-profile-panel">
                    <table class="table table-bordered table-hover add-account-table">
                        <thead>
                            <tr>
                                <th class="th-sm">SL
                                </th>
                                <th class="th-sm">Full_Name
                                </th>
                                <th class="th-sm">ID
                                </th>
                                <th class="th-sm">NID
                                </th>
                                <th class="th-sm">Blood_Group
                                </th>
                                <th class="th-sm">Father's_Name
                                </th>
                                <th class="th-sm">Mother's_Name
                                </th>
                                <th class="th-sm">Permanent_Address
                                </th>
                                <th class="th-sm">Present_Address
                                </th>
                                <th class="th-sm">Opening_Date
                                </th>
                                <th class="th-sm">Closing_Date
                                </th>
                                <th class="th-sm">Note
                                </th>
                                <th class="th-sm">Created_By
                                </th>
                                <th class="th-sm">Action
                                </th>
                            </tr>
                        </thead>
                        <tbody class="add-account-tbody">
                            <tr class="add-account-tr">
                            </tr>
                        </tbody>
                    </table>

                </div>
                <div class="modal fade" id="addAccountForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content" style="background-color: unset; border: none;">

                            <div class="form-modal">
                                <button data-dismiss="modal" type="button" class="btn close"
                                    style=" color: red; font-weight: bolder;">✕</button>
                                <h4 style="text-align: center; margin-top: 20px; font-weight: bolder;">Add Account Form
                                </h4>

                                <div class="row" style="padding-bottom: 15px; display: flex; justify-content: center;">
                                    <div class="col-lg-4 col-md-4" style="padding-left: 50px;">
                                        <div id="login-form">
                                            <form>
                                                <input type="text" id="acFull-Name" class="input-field"
                                                    placeholder="Full Name">
                                            </form>
                                        </div>
                                        <div id="login-form">
                                            <form>
                                                <input type="text" id="acID" class="input-field" placeholder="ID">
                                            </form>
                                        </div>
                                        <div id="login-form">
                                            <form>
                                                <input type="text" id="acNID" class="input-field" placeholder="NID">
                                            </form>
                                        </div>
                                        <div id="login-form">
                                            <form>
                                                <input type="text" id="acBlood-Group" class="input-field"
                                                    placeholder="Blood Group">
                                            </form>
                                        </div>
                                        <div id="login-form">
                                            <form>
                                                <input type="text" id="acFathers-Name" class="input-field"
                                                    placeholder="Father's Name">
                                            </form>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4">
                                        <div id="login-form">
                                            <form>
                                                <input type="text" id="acMothers-Name" class="input-field"
                                                    placeholder="Mother's Name">
                                            </form>
                                        </div>
                                        <div id="login-form">
                                            <form>
                                                <input type="text" id="acPermanent-Address" class="input-field"
                                                    placeholder="Permanent Address">
                                            </form>
                                        </div>
                                        <div id="login-form">
                                            <form>
                                                <input type="text" id="acPresent-Address" class="input-field"
                                                    placeholder="Present Address">
                                            </form>
                                        </div>
                                        <div id="login-form">
                                            <form>
                                                <input type="text" id="acOpening-Date" class="input-field"
                                                    placeholder="Opening Date">
                                            </form>
                                        </div>
                                        <div id="login-form">
                                            <form>
                                                <input type="text" id="acClosing-Date" class="input-field"
                                                    placeholder="Closing Date">
                                            </form>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4">
                                        <div id="login-form">
                                            <form>
                                                <input type="text" id="acNote" class="input-field" placeholder="Note">
                                            </form>
                                        </div>
                                        <div id="login-form">
                                            <form>
                                                <input type="text" id="acCreated-By" class="input-field"
                                                    placeholder="Created By">
                                            </form>
                                        </div>
                                        <div style="display: flex; justify-content: center; margin-top: 10px;">
                                            <button data-dismiss="modal" id="create-account-button" type="button"
                                                class="btn btn-info btn-lg">
                                                <b>Create Account</b>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="display: flex; justify-content: center;">
                    <button type="button" class="btn btn-info btn-lg" style="margin: .5%;" data-toggle="modal"
                        data-target="#addAccountForm">
                        <b>Add Account +</b>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="debit-edit-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="background-color: unset; border: none;">

                <div class="form-modal">
                    <button data-dismiss="modal" type="button" class="btn close"
                        style=" color: red; font-weight: bolder;">✕</button>
                    <h4 class="debitFormHeadline">Debit Record Edit Form
                    </h4>

                    <div class="row"
                        style="padding-bottom: 15px; display: flex; justify-content: center; padding-right: 15px;">
                        <div class="col-lg-4 col-md-4" style="padding-left: 30px;">
                            <div id="login-form">
                                <form>
                                    <input type="text" id="d-edit-Company" class="input-field" placeholder="Company">
                                </form>
                            </div>
                            <div id="login-form">
                                <form>
                                    <input type="text" id="d-edit-CO_CO" class="input-field" placeholder="CO-CO">
                                </form>
                            </div>
                            <div id="login-form">
                                <form>
                                    <input type="text" id="d-edit-Site" class="input-field" placeholder="Site">
                                </form>
                            </div>
                            <div id="login-form">
                                <form>
                                    <input type="text" id="d-edit-Person-Car-Who-will-Get" class="input-field"
                                        placeholder="Person/Car Who will Get">
                                </form>
                            </div>
                            <div id="login-form">
                                <form>
                                    <input type="text" id="d-edit-Department" class="input-field"
                                        placeholder="Department">
                                </form>
                            </div>
                            <div id="login-form">
                                <form>
                                    <input type="text" id="d-edit-Cause" class="input-field" placeholder="Cause">
                                </form>
                            </div>
                            <div id="login-form">
                                <form>
                                    <input type="text" id="d-edit-Carrier-Driver" class="input-field"
                                        placeholder="Carrier/Driver">
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div id="login-form">
                                <form>
                                    <input type="text" id="d-edit-Refer-By" class="input-field" placeholder="Refer By">
                                </form>
                            </div>
                            <div id="login-form">
                                <form>
                                    <input type="text" id="d-edit-Amount" class="input-field" placeholder="Amount">
                                </form>
                            </div>
                            <div id="login-form">
                                <form>
                                    <input type="text" id="d-edit-Other-Cost" class="input-field"
                                        placeholder="Other Cost">
                                </form>
                            </div>
                            <div id="login-form">
                                <form>
                                    <input type="text" id="d-edit-Total" class="input-field" placeholder="Total">
                                </form>
                            </div>
                            <div id="login-form">
                                <form>
                                    <input type="text" id="d-edit-Dena" class="input-field" placeholder="Dena">
                                </form>
                            </div>
                            <div id="login-form">
                                <form>
                                    <input type="text" id="d-edit-Paona" class="input-field" placeholder="Paona">
                                </form>
                            </div>
                            <div id="login-form">
                                <form>
                                    <input type="text" id="d-edit-Vara" class="input-field" placeholder="Vara">
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div id="login-form">
                                <form>
                                    <input type="text" id="d-edit-Warning" class="input-field" placeholder="Warning">
                                </form>
                            </div>
                            <div id="login-form">
                                <form>
                                    <input type="text" id="d-edit-Note" class="input-field note" placeholder="Note">
                                </form>
                            </div>
                            <div id="login-form">
                                <form>
                                    <input type="text" id="d-edit-Edited-By" class="input-field"
                                        placeholder="Edited By">
                                </form>
                            </div>
                            <div style="display: flex; justify-content: center; margin-top:0.6em;">
                                <button data-dismiss="modal" type="button" id="debit-edit-update"
                                    class="btn btn-info btn-lg"
                                    style="margin: .5%; margin-right: 20px; background-color: teal; border: 1px solid teal;">
                                    <b>Update</b>
                                </button>
                                <button data-dismiss="modal" type="button" id="debit-edit-cancel"
                                    class="btn btn-info btn-lg"
                                    style="margin: .5%; background-color: coral; border: 1px solid coral;">
                                    <b>Cancel</b>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="credit-edit-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="background-color: unset; border: none;">

                <div class="form-modal">
                    <button data-dismiss="modal" type="button" class="btn close"
                        style=" color: red; font-weight: bolder;">✕</button>
                    <h4 class="debitFormHeadline">Credit Record Edit Form
                    </h4>

                    <div class="row"
                        style="padding-bottom: 15px; display: flex; justify-content: center; padding-right: 15px;">
                        <div class="col-lg-4 col-md-4" style="padding-left: 30px;">
                            <div id="login-form">
                                <form>
                                    <input type="text" id="c-edit-Company" class="input-field" placeholder="Company">
                                </form>
                            </div>
                            <div id="login-form">
                                <form>
                                    <input type="text" id="c-edit-CO_CO" class="input-field" placeholder="CO-CO">
                                </form>
                            </div>
                            <div id="login-form">
                                <form>
                                    <input type="text" id="c-edit-Site" class="input-field" placeholder="Site">
                                </form>
                            </div>
                            <div id="login-form">
                                <form>
                                    <input type="text" id="c-edit-Person-Car-Who-will-Get" class="input-field"
                                        placeholder="Person/Car Who will Get">
                                </form>
                            </div>
                            <div id="login-form">
                                <form>
                                    <input type="text" id="c-edit-Department" class="input-field"
                                        placeholder="Department">
                                </form>
                            </div>
                            <div id="login-form">
                                <form>
                                    <input type="text" id="c-edit-Cause" class="input-field" placeholder="Cause">
                                </form>
                            </div>
                            <div id="login-form">
                                <form>
                                    <input type="text" id="c-edit-Carrier-Driver" class="input-field"
                                        placeholder="Carrier/Driver">
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div id="login-form">
                                <form>
                                    <input type="text" id="c-edit-Refer-By" class="input-field" placeholder="Refer By">
                                </form>
                            </div>
                            <div id="login-form">
                                <form>
                                    <input type="text" id="c-edit-Amount" class="input-field" placeholder="Amount">
                                </form>
                            </div>
                            <div id="login-form">
                                <form>
                                    <input type="text" id="c-edit-Other-Cost" class="input-field"
                                        placeholder="Other Cost">
                                </form>
                            </div>
                            <div id="login-form">
                                <form>
                                    <input type="text" id="c-edit-Total" class="input-field" placeholder="Total">
                                </form>
                            </div>
                            <div id="login-form">
                                <form>
                                    <input type="text" id="c-edit-Dena" class="input-field" placeholder="Dena">
                                </form>
                            </div>
                            <div id="login-form">
                                <form>
                                    <input type="text" id="c-edit-Paona" class="input-field" placeholder="Paona">
                                </form>
                            </div>
                            <div id="login-form">
                                <form>
                                    <input type="text" id="c-edit-Vara" class="input-field" placeholder="Vara">
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div id="login-form">
                                <form>
                                    <input type="text" id="c-edit-Warning" class="input-field" placeholder="Warning">
                                </form>
                            </div>
                            <div id="login-form">
                                <form>
                                    <input type="text" id="c-edit-Note" class="input-field note" placeholder="Note">
                                </form>
                            </div>
                            <div id="login-form">
                                <form>
                                    <input type="text" id="c-edit-Edited-By" class="input-field"
                                        placeholder="Edited By">
                                </form>
                            </div>
                            <div style="display: flex; justify-content: center; margin-top:0.6em;">
                                <button data-dismiss="modal" type="button" id="credit-edit-update"
                                    class="btn btn-info btn-lg"
                                    style="margin: .5%; margin-right: 20px; background-color: teal; border: 1px solid teal;">
                                    <b>Update</b>
                                </button>
                                <button data-dismiss="modal" type="button" id="credit-edit-cancel"
                                    class="btn btn-info btn-lg"
                                    style="margin: .5%; background-color: coral; border: 1px solid coral;">
                                    <b>Cancel</b>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="assets/js/vendor/jquery-3.3.1.min.js"></script>
    <script src="assets/js/vendor/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="assets/js/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.4.4/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery.print/1.3.3/jQuery.print.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.1.135/jspdf.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/jtsage-datebox-bootstrap4@5.3.3/jtsage-datebox.min.js"></script> -->

    <!-- Calender script-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.15.1/d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>


</body>

</html>